<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong Counter</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css' media='screen' rel='stylesheet'>
    <link rel='stylesheet' href='ping.css'>
  </head>
  <body ng-controller='myCtrl'>
    <div class='row'>
      <div class='col-md-4 col-md-offset-4 header'><h2>Ping Pong Score Keeper</h2></div>
    </div>

    <div class='row'>
      <br>
      <div class='col-md-4 col-md-offset-4 playerDiv' ng-click='increaseScore("player1")'>
        player 1
        <br>
        <p><span ng-if='vm.player1.serving' style='font-size: 16px'>serving</span></p>
      </div>
      <div class='col-md-4 playerDiv' ng-click='increaseScore("player2")'>
        player 2
        <br>
        <p><span ng-if='vm.player2.serving' style='font-size: 16px'>serving</span></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-md-offset-4 resetBtn'>
        <br><br>
        <p>Current score:</p>
        <p ng-cloak>Player 1: <strong>{{ vm.player1.score }}</strong></p>
        <p ng-cloak>Player 2: <strong>{{ vm.player2.score }}</strong></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-md-offset-4 resetBtn'>
        <br><br>
        <button ng-click='resetGame()'>reset</button>
      </div>
    </div>

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
    <script type='text/javascript' src='ping.js'></script>
  </body>
</html>
