[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header, .resetBtn {
  text-align: center;
}

.playerDiv {
  width: 240px;
  height: 240px;
  border: 1px solid black;
  text-align: center;
  padding-top: 90px;
  font-size: 30px;
  font-weight: bold;
}
